{% extends "shared/base.html" %} {% block css %} {% endblock %} {% block content
%} {% include "shared/nav.html" %}
<section class="decrypt-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="my-4 text-center">Group</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card bg-light">
          <div class="card-body">
            <div>
              <p><span class="fw-semibold">ID: </span>{{group._id}}</p>
              <p><span class="fw-semibold">Name: </span>{{group.name}}</p>
              <p>
                <span class="fw-semibold">Description: </span
                >{{group.description}}
              </p>

              <div class="d-flex">
                <p>
                  <span class="fw-semibold">Members: </span
                  >{{group.members|length}}
                </p>
                <a
                  class="ms-2 btn btn-sm btn-outline-dark"
                  style="--bs-btn-padding-y: 0.05rem"
                  data-bs-toggle="collapse"
                  href="#tipOptions"
                  role="button"
                  aria-expanded="false"
                  aria-controls="tipOptions"
                  >Tip</a
                >
              </div>
              <div class="collapse" id="tipOptions">
                <div class="mb-2 card card-body" style="display: block">
                  <p class="fw-semibold mb-0">All Groups</p>
                  <p>Get all groups available.</p>

                  <p class="fw-semibold mb-0">I am member</p>
                  <p>Filter the groups you belong to.</p>

                  <p class="fw-semibold mb-0">I am admin</p>
                  <p>Filter the groups you are admin.</p>

                  <p class="fw-semibold mb-0">I don't have access</p>
                  <p>Filter groups that you are not part of.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %} {% endblock %}
