{% extends "shared/base.html" %} {% block css %} {% endblock %} {% block content
%} {% include "shared/nav.html" %}
<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Groups</h1>
      </div>
      Group Type
      <select
        class="form-select group-filters"
        name="membership"
        hx-get="/partials/groups"
        hx-target="#groups"
        hx-include=".group-filters"
        aria-label="Default select example"
      >
        <option value="all" selected disabled>Select your membership.</option>
        <option value="all">All groups</option>
        <option value="member">I am member</option>
        <option value="admin">I am admin</option>
        <option value="no-access">I don't have access</option>
      </select>
      <select
        class="group-filters form-select"
        name="test2"
        hx-get="/partials/groups"
        hx-target="#groups"
        hx-include=".group-filters"
        aria-label="Default select example"
      >
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div
        id="groups"
        hx-get="/partials/groups"
        hx-include=".group-filters"
        hx-trigger="load"
      >
        <div class="spinner-border mt-3" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
