{% extends "shared/base.html" %} {% block css %} {% endblock %} {% block content
%} {% include "shared/nav.html" %}
<section class="decrypt-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="my-4 text-center">Group</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card bg-light">
          <div class="card-body">
            <div>
              <p><span class="fw-semibold">ID: </span>{{group._id}}</p>
              <p><span class="fw-semibold">Name: </span>{{group.name}}</p>
              <p>
                <span class="fw-semibold">Description: </span
                >{{group.description}}
              </p>

              <p>
                <span class="fw-semibold">Members: </span
                >{{group.members|length}}
                <a
                  class="ms-2 btn btn-sm btn-outline-dark"
                  style="--bs-btn-padding-y: 0.05rem"
                  data-bs-toggle="collapse"
                  href="#memberExpand"
                  role="button"
                  aria-expanded="false"
                  aria-controls="memberExpand"
                  >Expand</a
                >
              </p>
              <div class="collapse" id="memberExpand">
                <div class="mb-2 card card-body" style="display: block">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">OID</th>
                        <th scope="col">Unique Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for member in group.members %}
                      <tr>
                        <td>null</td>
                        <td>{{member}}</td>
                        <td>null</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

              <p>
                <span class="fw-semibold">Admins: </span>{{group.admins|length}}
                <a
                  class="ms-2 btn btn-sm btn-outline-dark"
                  style="--bs-btn-padding-y: 0.05rem"
                  data-bs-toggle="collapse"
                  href="#adminExpand"
                  role="button"
                  aria-expanded="false"
                  aria-controls="adminExpand"
                  >Expand</a
                >
              </p>
              <div class="collapse" id="adminExpand">
                <div class="mb-2 card card-body" style="display: block">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">OID</th>
                        <th scope="col">Unique Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for admin in group.admins %}
                      <tr>
                        <td>null</td>
                        <td>{{admin}}</td>
                        <td>null</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                <button
                  class="btn btn-primary"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#accessModal"
                >
                  Request Acess
                </button>
                <button class="btn btn-danger" disabled type="button">
                  Delete Group
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="accessModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Request Access
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form method="post">
            <div class="modal-body">
              <div class="mb-3">
                <label for="group-id" class="col-form-label">Group:</label>
                <input
                  type="text"
                  class="form-control"
                  id="group-id"
                  readonly
                  name="group"
                  placeholder="{{group._id}}"
                  value="{{group._id}}"
                />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >Motivation:</label
                >
                <textarea class="form-control" id="message-text" name="motivation"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %} {% endblock %}
