{% extends "shared/base.html" %} {% block css %} {% endblock %} {% block content
%} {% include "shared/nav.html" %}
<section class="decrypt-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="my-4 text-center">Group Management</h2>
        <p class="mb-4 text-center">
          For more info on the Azure Group Manager, check out the About page on
          the top right.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card h-100 bg-light text-center">
          <div class="card-body">
            <h5 class="card-title">Request Access</h5>
            <p class="card-text">
              Request access to Azure AD groups. Group admins can approve your
              request. Contrary to popular belief.
            </p>
            <a href="/groups" class="btn btn-primary stretched-link"
              >Request Access</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100 bg-light text-center">
          <div class="card-body">
            <h5 class="card-title">Request Access</h5>
            <p class="card-text">
              Request access to Azure AD groups. Group admins can approve your
              request.
            </p>
            <a href="/groups" class="btn btn-primary stretched-link"
              >Request Access</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %} {% endblock %}
