<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Members</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td style="word-break: break-all; min-width: 50px">
          <a href="">{{group._id}}</a>
        </td>
        <td>{{group.name}}</td>
        <td>{{group.description}}</td>
        <td>{{group.members|length}}</td>
        <td>
          {% for tag in group.tags %}
          <span class="badge bg-secondary">{{tag}}</span>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
