<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Members</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        {% set id = group._id|string %}
        <td><a href="/groups/{{group._id}}">#{{id[-6:]}}</a></td>
        <td>{{group.name}}</td>
        <td>{{group.description}}</td>
        <td>{{group.members|length}}</td>
        <td>
          {% for tag in group.tags %}
          <span class="badge bg-secondary">{{tag}}</span>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
